.header_section {
    background-color: rgb(0, 59, 118);
    padding: 100px 25px;
    width: 100%;
    background-image: url('../public/header.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    &__container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;

        &__title {
            font-size: 2rem;
            text-align: center;
            color: #fff;
            font-weight: bold;
        }
    }
}