.search_form {
    max-width: 100%;
    margin: 20px auto;
    max-width: 100%;
    width: 500px;
    position: relative;



    &__input {
        padding: 15px;
        width: 100%;
        border-radius: 25px;
        border: 1px solid;
        box-sizing: border-box;
        padding-right: 30px;
        font-size: 18px;
    }

    &__button {
        position: absolute;
        background-color: transparent;
        border: 0px;
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        font-size: 25px;
        color: var(--main-color);
    }
}