.word_section {
    background-color: rgb(246, 243, 243);
    padding: 15px;
    &__title {
       
        display: inline-flex;
        font-size: 2.8rem;
        // color: white;
        padding: 5px 15px;
        margin-bottom: 15px; 
        font-style: italic;
        flex-direction: row;
        align-items: center;
        font-family: var(--font-title);
        &__phonetic { 
            font-size: 16px; 
            margin-left: 25px;
    
        }
        &__play{
            font-size: 16px;
            margin-left: 25px;
        }
    }

    


    &__meanings {
        

        p {
            font-weight: bold;
            text-transform: capitalize;
            display: block;
            margin-bottom: 10px;
        }

        &__item {
            margin: 10px auto; 
            background:rgb(219, 219, 219);
            padding: 15px;
            &__title {
                font-weight: bold;
                font-size: 1.2rem;
                font-weight: bold;
                margin-bottom: 15px;
                display: block;
            }

            &__definitions {
                
                span {
                    display: block;

                    strong {
                        font-weight: bold;
                    }
                }
            }
        }

    }
}