.word_section {
    &__title {
        background-color: var(--main-color);
        display: inline-block;
        font-size: 1.5rem;
        color: white;
        padding: 5px 15px;
        margin-bottom: 15px;
        font-style: italic;
    }

    &__phonetic {
        color: rgb(83, 83, 83);
        font-size: 16px;
        margin-bottom: 10px;

    }

    &__origin {
        background-color: rgb(208, 208, 208);
        padding: 10px;
        font-size: 1.5rem;

        p {
            font-weight: bold;
            text-transform: capitalize;
            display: block;
            margin-bottom: 10px;
        }
    }

    &__meanings {
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: rgb(231, 230, 230);
        padding: 10px;

        p {
            font-weight: bold;
            text-transform: capitalize;
            display: block;
            margin-bottom: 10px;
        }

        &__item {
            margin: 10px auto;
            padding: 10px;
            background-color: rgb(208, 208, 208);

            &__title {
                font-weight: bold;
                font-size: 1.2rem;
                font-weight: bold;
                margin-bottom: 15px;
                display: block;
            }

            &__definitions {
                span {
                    display: block;

                    strong {
                        font-weight: bold;
                    }
                }
            }
        }

    }
}