.header-section{
    background-color: gray;
    padding: 50px 25px;
    width: 100%;
    &__container{ 
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        &__title{
            font-size: 25px;
            text-align: center;
        }
    }
}